<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="mb-3">Forgot password</h1>
        <input
          type="email"
          autocomplete="off"
          class="form-control"
          placeholder="Enter email of your account"
          [formControl]="passwordResetForm.controls['email']"
          [class.text-danger]="email && email.invalid"
        />
        <input
          type="password"
          class="form-control mt-4"
          placeholder="Enter new password"
          [formControl]="passwordResetForm.controls['newPassword']"
          [class.text-danger]="newPassword && newPassword.invalid"
        />
      </div>
      <div class="d-grid">
        <button
          type="sumbit"
          class="btn btn-primary mt-3"
          [disabled]="
            (email && email.invalid) || (newPassword && newPassword.invalid)
          "
        >
          Send email
        </button>
      </div>
    </form>
  </div>
</div>
